body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    
}

@keyframes textAnimation {
    0% {
      transform: scale(1);
      color: rgb(226, 175, 175);
    }
    50% {
      transform: scale(1.2);
      color: rgb(228, 183, 172);
    }
    100% {
      transform: scale(1);
      color: rgb(228, 195, 222);
    }
  }

.calctext:hover {
    animation: textAnimation 0.5s;
}

h1{
    font-family: auto;
    text-align: -webkit-center;
    animation: fadeIn 2s ease-in-out;
    color: rgb(228, 184, 163);
    font-style: italic;
    z-index: 1;
    position: absolute;
    left: 50px;
    display: inline-block;
}

.titledesign{
    background-color: #e77878;
}

.calcimg{
    height: -webkit-fill-available;
    filter: blur(10px);
    min-width: -webkit-fill-available;
}

.calculator {
    text-align: right;
    margin-left:50px;
    z-index: 5;
    position: absolute;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: #160a0af6;
    color: aliceblue;
    border: double;
    font-weight: bolder;
}

button:hover {
    background-color: #e6dbe3;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #b6a8c5f6;
    font-style: italic;
    border: hidden;
    border-radius: 15px;
    filter: opacity(0.8);
}
